 #nav{
    background-color: rgb(213, 213, 247);
   
}

#form{
    border: 2px solid black;
    height: 400px;
    margin-top: 50px;
    margin-left: 400px;
    margin-right: 400px;
    background-color: pink;
} 